<!DOCTYPE html>
<html>
<head>
	<title>App Home</title>
	<style type="text/css">
		.container{
			display: flex;
			align-items: center;
			 flex-direction: column;

		}
		.vertical-center{
			width:100%;
			text-align: center;
			margin-bottom:20px;
		}
	</style>
</head>
<body>
	<div class ='container'>
	<h1>Public Library</h1>
	<h3>Please login to continue</h3>
	<div class ='vertical-center'>
	<button><a href='/readerlogin'>Login As Reader</a></button>
	</div>
	<div class ='vertical-center'>
	<button><a href='/adminlogin'>Login As Administrator</a></button>
	</div>
</div>
</body>
</html>